<div class="row content user-form-page">
	<div class="col-md-5">
		<div class="row user-h">
			<h2>Company Detail</h2>
		</div>
		<div class="row" style="margin-top:20px;">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="company_name" class="control-label col-xs-3">Company name</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="company_name" placeholder="Company Name">
					</div>
				</div>
				<div class="form-group">
					<label for="country" class="control-label col-xs-3">country</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="country" placeholder="country">
					</div>
				</div>
				<div class="form-group">
					<label for="state" class="control-label col-xs-3">state</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="state" placeholder="state">
					</div>
				</div>
				<div class="form-group">
					<label for="address" class="control-label col-xs-3">address</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="address" placeholder="address">
					</div>
				</div>
				<div class="form-group">
					<label for="phone" class="control-label col-xs-3">phone</label>
					<div class="col-xs-2">
						<input type="text" class="form-control" id="country_id" placeholder="country">
					</div>
					<div class="col-xs-2" style="margin-left: -23px;">
						<input type="text" class="form-control" id="location_id" placeholder="location">
					</div>
					<div class="col-xs-5" style="margin-left: -23px;">
						<input type="text" class="form-control" id="phone" placeholder="number">
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="control-label col-xs-3">description</label>
					<div class="col-xs-8">
						<textarea rows="4" id="description" style="width: 340px;"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="logo" class="control-label col-xs-3">logo</label>
					<div class="col-xs-8">
						<input type="file" id="phone" placeholder="number">
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-8 ">
						<button type="button" class="finish btn btn-primary">Finish</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
