<div id="front-carousel" class="carousel slide" data-ride="carousel">
	<!-- indicator -->
	
	<!-- slides -->
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag "b1.jpg" %>
		</div>
		<div class="item">
			<%= image_tag "b2.jpg" %>
		</div>
	</div>
	<!-- control -->
	<a class="left carousel-control" href="#front-carousel" data-slide="prev">
		<span class="icon-prev"></span>
	</a>
	<a class="right carousel-control" href="#front-carousel" data-slide="next">
		<span class="icon-next"></span>
	</a>
</div>