<div id="sidebar" class="sidebar-offcanvas">
	<div class="col-md-12 fixed">
		<h3>Category</h3>
		<ul class="nav nav-pills nav-stacked fixed">
			<li><a href="/home">Metal</a></li>
			<li><a href="#">Chemical</a></li>
			<li><a href="#">Wood</a></li>
			<li><a href="#">ore</a></li>
			<li><a href="#">magnet</a></li>
		</ul>
	</div>
</div>

