<div id="sidebar" class="sidebar-offcanvas">
	<div class="col-md-12">
		<h3></h3>
		<ul class="nav nav-pills nav-stacked fixed">
			<li><a href="#">Overview</a></li>
			<li><a href="#detail">Detail</a></li>
			<li><a href="#Galery">Galery</a></li>
			<li><a href="#">Review</a></li>
		</ul>
	</div>
</div>



