<div class="row-offcanvas row-offcanvas-left">
	<%= render 'sidebar_filter' %>
	<div id="main">
		<div class="col-md-12" >
			<p class="visible-xs" style="margin-top: 7px;margin-bottom: -7px;">
	            <img src="/assets/left.png" height="30px" width="30px" data-toggle="offcanvas">
	         </p>
			<div class="row">
				<div class="col-md-6" style="margin-top: 20px;">
					<div class="input-group">
						<input type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-11">
					<div class="row  product-list">
						<div class="col-md-2">
							<%= image_tag 'p1.jpg', size: "100x100" %>
						</div>
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-10">
									<span class="product"><h4>Alumunium Sheet</h4></span>
								</div>
							</div>
							<div class="row-fluid">
								<div class="col-md-8 product-desc">
									<span> Alumunium sheet in roll package</span>
								</div>
								<div class="col-md-3">
									<div class="row">
										<span>price: $120/roll</span>
									</div>
									<div class="row">
										<span>manufactur: Henan</span>
									</div>
									<div class="row">
										<span>rating: 5</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row  product-list">
						<div class="col-md-2">
							<%= image_tag 'p3.jpg', size: "100x100" %>
						</div>
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-10">
									<span><h4>HFCS 55</h4></span>
								</div>
							</div>
							<div class="row-fluid">
								<div class="col-md-8 product-desc">
									<span> high fructose corn syrup 55, used for drink and food </span>
								</div>
								<div class="col-md-3">
									<div class="row">
										<span>price: $50/bottle</span>
									</div>
									<div class="row">
										<span>manufactur: wuxi</span>
									</div>
									<div class="row">
										<span>rating: 4</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
