<div class="row-offcanvas row-offcanvas-left">
	<%= render 'sidebar_filter' %>
	<div id="main">
		<div class="col-md-12" >
			<p class="visible-xs" style="margin-top: 7px;margin-bottom: -7px;">
	            <img src="/assets/left.png" height="30px" width="30px" data-toggle="offcanvas">
	         </p>
			<div class="row">
				<div class="col-md-6" style="margin-top: 20px;">
					<div class="input-group">
						<input type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-11">
					<div class="row  product-list">
						<div class="col-md-2">
							<%= image_tag 'product.jpeg', size: "100x100" %>
						</div>
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-10">
									<span class="product"><h4>product title</h4></span>
								</div>
							</div>
							<div class="row-fluid">
								<div class="col-md-8 product-desc">
									<span> product descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct </span>
								</div>
								<div class="col-md-3">
									<div class="row">
										<span>price: 1212123</span>
									</div>
									<div class="row">
										<span>manufactur: companny A</span>
									</div>
									<div class="row">
										<span>rating: 5</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row  product-list">
						<div class="col-md-2">
							<%= image_tag 'product.jpeg', size: "100x100" %>
						</div>
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-10">
									<span><h4>product title</h4></span>
								</div>
							</div>
							<div class="row-fluid">
								<div class="col-md-8 product-desc">
									<span> product descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct descriptoinproduct </span>
								</div>
								<div class="col-md-3">
									<div class="row">
										<span>price: 1212123</span>
									</div>
									<div class="row">
										<span>manufactur: companny A</span>
									</div>
									<div class="row">
										<span>rating: 5</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
