<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<h1>Product List</h1>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row"  style="margin-top:10px;">
					<div class="col-md-1">
						<%= image_tag 'p1.jpg', size: "50x50" %>
					</div>
					<div class="col-md-5">
						<div class="row">Aluminium sheet</div>
						<div class="row">
							<div class="col-md-1"><a href="#">edit</a></div>
							<div class="col-md-1"><a href="#">delete</a></div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top:10px;">
					<div class="col-md-1">
						<%= image_tag 'p2.jpg', size: "50x50" %>
					</div>
					<div class="col-md-5">
						<div class="row">Liquid Nitrogen</div>
						<div class="row">
							<div class="col-md-1"><a href="#">edit</a></div>
							<div class="col-md-1"><a href="#">delete</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

