<div id="sidebar" class="sidebar-offcanvas">
	<div class="col-md-12 fixed">
		<h3>Username</h3>
		<ul class="nav nav-pills nav-stacked fixed">
			<li><a href="/products/new">New Product</a></li>
			<li><a href="/products/view_all">product list</a></li>
			<li><a href="/transactions/">transaction history</a></li>
			<li><a href="/users/1/edit">account</a></li>
		</ul>
	</div>
</div>



